<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Nombre del Proyecto</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita numquam optio aliquid placeat aliquam exercitationem, eligendi autem animi sapiente quibusdam ipsa magni quaerat sint consequatur eaque dolor, inventore laudantium! Et!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
