<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class ="redes">
            <div>
                <a href="https://www.linkedin.com/in/fernanda-moyano?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BqMvMwYxXRBW1OAvsbjOJhg%3D%3D"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/twitter.png" id="twiter"></a>
                <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://github.com/moyanof80"><img src="../../../assets/github.png" id="github"></a>
                <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
            </div>
            
        </div>
    </div>
</div>


