<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">María Fernanda Moyano</p>
        <P>Full Stack Developer Jr</P>
        <p>Testing QA Manual Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Soy  curiosa y con iniciativa ante nuevos proyectos. Cuento con gran facilidad para trabajar en equipo. Muy buena adaptabilidad a los cambios y rápida reacción ante situaciones imprevistas. Siempre es tiempo de aprender y evolucionar. Disfruto mucho de mi familia y de buenas charlas con amigos.</p>
        </span>
    </div>
</div>